<!DOCTYPE html>
<html>
<head>
	
	<link rel="stylesheet" type="text/css" href="CSS/style1.css">
	<title>Enter Camps details</title>

</head>
<body >
<div class="header" style="background-color: blue;">
	<h2>Update Camps details for user</h2>
</div>
<form method="post" action="campsdetails.php">
	<div class="input-group">
		<label>Hospital</label>
		<input type="text" name="hospital" value="">
	</div>
	<div class="input-group">
		<label>Address of Camp</label>
		<input type="text" name="address" value="">
	</div>
	<div class="input-group">
		<label>City</label>
		<input type="text" name="city">
	</div>
	<div class="input-group">
		<label>contact</label>
		<input type="text" name="contact">
	</div>
		<div class="input-group">
		<label>date</label>
		<input type="text" name="date">
	</div>
		<div class="input-group">
		<label>time</label>
		<input type="text" name="time">
	</div>
	<div class="input-group" >
		<center><button style="background-color: blue;" type="submit" class="btn" name="register_btn">Upload Details</button>
	</div>
	<p>
		 <center><a href="adminhome.php" class="btn btn-success" style="background-color: red;">Back to admin home Page</a>
	</p>
</form>
</body>
</html>