   <html>
     <head><title>Registration successfull
     </title>
     <style>
          body{


  background-color: yellow;

  }
    h1
    {

        
        color:blue;
        text-align:center;

    }

    h2
    {

        
        color:green;
        text-align:center;

    }
      a{


color:black;

 font-style:italic;
 font-size: xx-large;
 text-align:right;
      }
  </style>
 </head>
     	  <body>
     	  	
              <h1>  Blood Bank and  Donar  Management</h1>
     	  	 <h2> You have Successfully register with us</h2>
     	  	 <a href="index.php"> Click here To login to your account</a>
     	  	</body>
     	  </html>